a{
  color:red;
  text-decoration: none;
}
body{
  background-image: url("imgs/jobsearch.jpg");
}
h1{
  font-family: sans-serif;

}
div{
  text-align: center;
  margin: auto;
  background-color: inherit;
}
